.list-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-btn__item {
  &:not(:last-child) {
    margin-right: 8px;
  }
}

.list-buton {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: $title-text-color;
  cursor: pointer;
  border: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $secondary-text-color;
    background-color: $accent-color;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}
