.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;

  @media (min-width: 768px) {
    display: none;
  }
}

.menu-toggle:hover .menuicon-open,
.menu-toggle:focus .menuicon-open {
  fill: $accent-color;
}

.menu {
  @media (max-width: 767px) {
    display: none;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 40px;
  background-color: #ffffff;
  z-index: 10;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.mobile-nav__item {
  &:not(:last-child) {
    margin-bottom: 30px;
  }
}
.mobile-nav__link {
  width: fit-content;
  display: block;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: $accent-color;
    opacity: 1;
  }
}

.mobile-nav__link.mobile-nav__link--current {
  color: $accent-color;
}

.mobile-phone__link {
  display: block;
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-color;
}

.mobile-emeil__link {
  display: block;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
}

.mobile-soc__list {
  display: flex;
  margin-left: -10px;
}

.mobile-soc__item {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

.mobile-soc__link {
  position: relative;
  padding: 10px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
}
